@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #c6ac8f;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Brandly Hand ', sans-serif;
}

header {
    background-color: rgba(20, 30, 13, .7);
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #82846d
}

.book,
.join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: white;
    color: #c6ac8f;
}

.msg {
    background-color: #82846d;
    color: white;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    color: white;
    font-family: 'Roboto', 'Brandly Hand', sans-serif;
}

.msg p {
    color: white;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #82846d;
    color: #c6ac8f;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #c6ac8f;
    text-decoration: none;
}

footer a:hover {
    color: #c6ac8f;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #c6ac8f;
    font-family: 'Rock Salt', 'Brandly Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black;
    font-family: 'Roboto', 'Brandly Hand', sans-serif;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card
.camping-card
.rapids-card{
    margin: 200px 0;
    width: 0px;
   

}

.card-img {
    border: 10px solid #c6ac8f;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;

}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}

#hero-msg h4 {
    color: white;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img,
.mountains {
    width: 100%;

}

.rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}

.camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}

.rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}

.mountains {
    width: 100%;
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #c6ac8f;

}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }

}